/*THIS SHOULD BE REMOVED WHEN WE CREATE BASIC TEHME STYLES*/
:root {
  --text-color: #222;
  --primary: #ed174c;
  --secondary: #7266ff;
  --primary-light: #ffe2e9;
  --secondary-light: #e8e5ff;
  --dark-secondary: #3d3a60;
}

body {
  font-size: 1rem;
  color: var(--text-color);
  font-family: sans-serif;
}

a {
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.1;
  margin-bottom: 80px;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 60px;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.25;
  margin-bottom: 40px;
}

h4 {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}
